<a href="https://colab.research.google.com/github/Pooja-CG/STUDYSYNCHUB/blob/main/mySQLconnection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Install mysql-connector-python using conda
#conda install -c anaconda mysql-connector-python

# Import the necessary module
import mysql.connector

# Establish a connection to the MySQL database
mydb = mysql.connector.connect(
    host='localhost',
    user='root',  # Removed '@localhost' from the username
    password='Joshva@#12',
    database='tutorial',
    use_pure=True  # True instead of TRUE
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute SQL query to create the table
mycursor.execute('CREATE TABLE IF NOT EXISTS CUSTOMER (name VARCHAR(25))')

# Execute SQL query to show tables
mycursor.execute('SHOW TABLES')

# Fetch and print the list of tables
for x in mycursor:
    print(x)

# Close the cursor and connection
mycursor.close()
mydb.close()

('customer',)

In [ ]:
pip install pandas mysql-connector-python

Requirement already satisfied: pandas in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: mysql-connector-python in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (8.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\sherl\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import mysql.connector

# Read Excel file into DataFrame
excel_file = "D:/DataSets/datas.xlsx"  # Replace with the path to your Excel file
df = pd.read_excel(excel_file)

# Connect to MySQL database
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Joshva@#12",
    database="sherly"
)

# Create MySQL table to store data
cursor = db_connection.cursor()

# Define table schema based on DataFrame columns
create_table_query = """
CREATE TABLE IF NOT EXISTS data (
    id INT AUTO_INCREMENT PRIMARY KEY,
    Emails VARCHAR(255),
    Age INT,
    Profession VARCHAR(255)
);
"""

cursor.execute(create_table_query)
db_connection.commit()

# Insert data into MySQL table
for index, row in df.iterrows():
    insert_query = """
    INSERT INTO data (Emails, Age, Profession)
    VALUES (%s, %s, %s);
    """
    cursor.execute(insert_query, (row['Emails'], row['Age'], row['Profession']))

db_connection.commit()

# Close database connection
cursor.close()
db_connection.close()

print("Data has been successfully inserted into MySQL database.")

Data has been successfully inserted into MySQL database.

In [ ]:
import pandas as pd
import mysql.connector

# Connect to MySQL database
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Joshva@#12",
    database="sherly"
)

# Define columns to display
columns_to_display = ['Emails', 'Age', 'Profession']

# Create MySQL cursor
cursor = db_connection.cursor()

# Define query to select specific columns from the table
select_query = "SELECT {} FROM data".format(', '.join(columns_to_display))

# Execute the query
cursor.execute(select_query)

# Fetch all rows
rows = cursor.fetchall()

# Close cursor and connection
cursor.close()
db_connection.close()

# Create DataFrame from fetched rows
df = pd.DataFrame(rows, columns=columns_to_display)

# Display DataFrame
print(df)

                            Emails  Age              Profession
0        singhnikita8084@gmail.com   23                 Student
1             rallapalli@gmail.com   21                Graduate
2               14kkunal@gmail.com   37                 Student
3     96928abhayranjan53@gmail.com   35                Graduate
4         aanshikagarg06@gmail.com   29              IT manager
...                            ...  ...                     ...
2244           bnsahoo14@gmail.com   26          Database admin
2245          jobsinflux@gmail.com   37     Solutions Architect
2246        yashaskirthi@gmail.com   39    Data vault Architect
2247       navyashetty05@gmail.com   31  Database administrator
2248          harishramk@gmail.com   38                Graduate

[2249 rows x 3 columns]

In [ ]:
import pandas as pd
import mysql.connector

# Connect to MySQL database
db_connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Joshva@#12",
    database="sherly"
)

# Define columns to display
columns_to_display = ['Emails', 'Age', 'Profession']

# Create MySQL cursor
cursor = db_connection.cursor()

# Define query to select specific columns from the table
select_query = "SELECT {} FROM data".format(', '.join(columns_to_display))

# Execute the query
cursor.execute(select_query)

# Fetch all rows
rows = cursor.fetchall()

# Close cursor and connection
cursor.close()
db_connection.close()

# Create DataFrame from fetched rows
df = pd.DataFrame(rows, columns=columns_to_display)

# Display DataFrame
print(df.head(10))  # Display only the first 10 rows

                         Emails  Age                 Profession
0     singhnikita8084@gmail.com   23                    Student
1          rallapalli@gmail.com   21                   Graduate
2            14kkunal@gmail.com   37                    Student
3  96928abhayranjan53@gmail.com   35                   Graduate
4      aanshikagarg06@gmail.com   29                 IT manager
5    aashishsingh9368@gmail.com   26               Data Analyst
6                 abc@gmail.com   32           Database Analyst
7       abhayranjan53@gmail.com   21  Machine Learning Engineer
8           abhi80646@gmail.com   22           Database Analyst
9   abinayakarthik001@gmail.com   37                IT director